$theme-colors: (
    "primary": #277fea,
    "light": #f5f7fb,
    "info": tomato,
    "danger": teal
);

$primary: #277fea;
$body-bg: #f5f7fb;
$font-size-base: 0.85rem;
$border-radius: 1rem;
$input-btn-padding-y: 0.5rem;
$input-btn-padding-y-sm: 0.5rem;
$input-btn-padding-x-sm: 1.1rem;
$input-btn-padding-x: 1.2rem;
$input-btn-padding-x-lg: 1.3rem;
$input-btn-font-size: $font-size-base;
$btn-font-weight: 500;
$btn-white-space: normal;
$nav-link-padding-y: 0.75rem;
$dropdown-item-padding-y: 0.75rem;
$input-padding-y: 1rem;
$input-padding-x: 1.5rem;
